Binaries
__ExternalActors__
__ExternalObjects__
AssetPacks
Collections
Developers
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace